@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light dark;
    --color-bg: #f5f5f5;
    --color-text: #1a1a1a;

    /* 확장 색상(원하면 사용) */
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-accent: #ffc107;
  }

  html.dark {
    color-scheme: dark;
    --color-bg: #1a1a1a;
    --color-text: #f5f5f5;
  }

  html,
  body,
  #root {
    height: 100%;

    user-select: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
